---
extends:
  - "plugin:lodash-fp/recommended"
  - "defaults/configurations/walmart/es5-test"
  - "defaults/configurations/walmart/es5-node"

plugins:
  - lodash-fp

rules:
  strict: 0
  no-magic-numbers: off
  no-unused-expressions: off
  max-nested-callbacks: off
  no-invalid-this: off
