---
extends:
  - plugin:lodash-fp/recommended
  - formidable/configurations/es6-node

plugins:
  - lodash-fp

rules:
  func-style: off
  consistent-return: [error, { treatUndefinedAsUnspecified: true }]
