.git
.hg

.DS_Store
.project
bower_components
node_modules
npm-debug.log*
yarn-error.log*
phantomjsdriver.log

# Build
dist
*/dist
build
*/build
coverage
Procfile
.lankrc*
test-output
package-lock.json
